@model IEnumerable<blogMakale.Models.KullaniciModel>

@{
    ViewData["Title"] = "Listele";
    Layout = "~/Views/Shared/_Default.cshtml";
}


<p>
    <a asp-action="KullaniciEkle">Kullanıcı Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdSoyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KullaniciAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sifre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="~/images/@item.Foto" style="height:75px;width:75px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdSoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KullaniciAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sifre)
            </td>
            <td>
                <a asp-action="KullaniciGuncelle" asp-route-id="@item.id_Kullanici" class="btn btn-primary">Güncelle</a>
                <a asp-action="KullaniciSil" asp-route-id="@item.id_Kullanici" class="btn btn-danger">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
